.card {
    background-color: #bcbcbc;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(94, 94, 94, 0.35); 
    border: 2px solid transparent;
    margin: 0 auto 20px;
}

@media (max-width: 575.98px) {
    .card {
        padding: 10px;
    }
}

.card.active {
    border-color: #000;
}
